.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients .title {
  margin-bottom: 50px;
}
.clients .list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  margin: -15px;
}

.client-item {
  // display: flex;

  margin: 15px;

  // width: 175px;
  // height: 90px;

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.client-link {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;

  width: 210px;
  height: 90px;
  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  transition: color $animation;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.icon-clients {
  fill: currentColor;
}
