// Список контактов
.site-contacts {
  // text-align: center;

  // padding: 0px;
  margin: 0px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
    // justify-content: flex-start;
    // align-items: flex-end;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
// .site-nav {
//   display: inline-flex;
// }

.contacts-link {
  display: block;
  display: inline-flex;
  align-items: center;
  transition: color $animation;
  color: $primary-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14px;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts-item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.icon-contact {
  fill: currentColor;
  margin-right: 10px;
}
