// Список контактов
.site-contacts {
  // display: flex;
  // flex-direction: column;
  text-align: center;

  // padding: 0px;
  margin: 0px;
  padding-bottom: 60px;
}
.contacts-link {
  display: block;
  display: inline-flex;
  align-items: center;
  transition: color $animation;
  color: $primary-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// .contacts-item:not(:last-child) {
//   margin-right: 30px;
// }

.contacts-item:not(:last-child) {
  margin-bottom: 16px;
}

.icon-contact {
  fill: currentColor;
  margin-right: 10px;
}
