.section-footer {
  background: #2f303a;
}
.down {
  align-items: baseline;
  text-align: center;

  // padding-top: 45px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: auto;
  padding-right: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: inherit;
  }
}

.address {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
}
.address-flex {
  // margin-right: 69px;
  padding-right: 12px;
  @media screen and (min-width: 768px) {
    margin-left: 61px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px;
    margin-right: 69px;
  }

  & .site-logo {
    display: inline-block;
    // margin-bottom: 10px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  @media screen and (min-width: 1200px) {
    & .site-logo {
      margin: 0px;
      margin-bottom: 10px;
    }
  }
}
.address-list {
  margin: 0px;
  padding: 0px;
  margin-bottom: 8px;
  line-height: 1.71;

  &:nth-child(2) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px;
    & li:first-child {
      margin-bottom: 9px;
    }
    &:nth-child(2) {
      margin-bottom: 0px;
    }
  }
}

.street {
  color: $primary-white-color;

  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
  // margin-bottom: 9px;
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.follow {
  color: $primary-white-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-flex {
  // margin-right: 94px;
  & .social-networks {
    padding-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px;
    margin-right: 94px;
  }
}
.tablet-flex {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-contacts {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  transition: color $animation;

  &:focus,
  &:hover {
    color: $accent-color;
  }
}
