.border-nav {
  height: 60px;

  border-bottom: 1px solid #ececec;
}
.site-header {
  // display: flex;
  justify-content: space-between;

  align-items: center;
}
.site-nav {
  // display: flex;
  align-items: center;
}
