.border-nav {
  height: 60px;
  width: 100%;

  border-bottom: 1px solid #ececec;
}
.site-header {
  display: flex;
  // height: 80px;

  align-items: center;
}
.site-nav {
  // display: flex;
  // align-items: center;
}
