/*Страница портфоли main */
.choice-list {
  display: flex;
  flex-wrap: wrap;

  // justify-content: center;
  margin: 0px;
  padding: 0px;
  padding-top: 60px;
  padding-bottom: 40px;

  & .choice-item {
    margin-right: 8px;
  }

  & .choice-item {
    margin-bottom: 15px;
  }

  & .choice-item:nth-child(4n) {
    margin-bottom: 0px;
  }
  & .choice-item:nth-child(5n) {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    padding-bottom: 30px;
    & .choice-item {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.choice-button {
  padding: 6px 22px;
  border: 0px;
  background-color: $button-primary-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  border-radius: 4px;
  transition: color $animation, background-color $animation;

  &:focus,
  &:hover {
    background-color: $button-focus-color;
    color: $primary-white-color;
  }
}
