/* Лого сайта */
.site-logo {
  display: inline-block;

  margin-top: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 81px;
    margin-top: 0px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 85px;
  }
}

.site-logo {
  color: $title-text-color;

  font-family: $secondary-font-family;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.37;
  & span {
    color: $accent-color;
  }
  & .studio-color {
    color: $primary-white-color;
  }
}
