/* Лого сайта */
.site-logo {
  // margin-right: 85px;
  display: inline-block;
  margin-left: 15px;
  margin-top: 16px;
}

.site-logo {
  color: $title-text-color;

  font-family: $secondary-font-family;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.37;
  & span {
    color: $accent-color;
  }
  & .studio-color {
    color: $primary-white-color;
  }
}
