// Основная палитра сайта

$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$button-primary-color: #f5f4fa;
$button-focus-color: #2196f3;

// Шрифты

$main-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;
$main-latter-spacing: 0.03em;

// Анимация
$main-animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
